<div class="nav-header">
  <div class="container">
    <div class="nav-container">
      <% link_to '/', :class => 'logo-link' do %>
        <%= image_tag 'logo-white.png', :class => 'site-logo' %>
      <% end %>
      <% link_to '/', :class => 'logo-link' do %>
        <%= image_tag 'logo-colour.png', :class => 'site-logo-colour' %>
      <% end %>
      <div class="nav-right">
        <div class="contact">
          Reach us at <%= link_to '1-250-558-3339', 'tel:1-250-558-3339', :class => 'phone' %>
          <%= link_to 'Client login', '/login', :class => 'login' %>
          <% link_to 'https://www.houzz.com/pro/glinsbockel/highridge-homes-ltd' do %>
            <%= image_tag 'houz_icon.png', :class => 'social' %>
          <% end %>
          <% link_to 'https://www.facebook.com/highridgehomesvernon/' do %>
            <%= image_tag 'facebook_icon.png', :class => 'social' %>
          <% end %>
        </div>
        <nav class='main_nav'>
          <ul>
            <%= current_link_to 'Custom Homes', '/custom-homes/' %>
            <%= current_link_to 'The Process', '/the-process/' %>
            <%= current_link_to 'Available Lots', '/available-lots/' %>
            <%= current_link_to 'Meet The Team', '/meet-the-team/' %>
            <%= current_link_to 'Contact', '/contact/' %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
