<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page"s frontmatter if it has one -->
    <title><%= current_page.data.title || "Highridge Homes" %></title>
    <%= stylesheet_link_tag "site.bundle" %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/layouts/page_header" %>
    <%= partial "partials/layouts/page_burger_nav" %>

    <div class="page-content">
      <%= partial current_page.data.hero_layout || "partials/layouts/hero" %>

      <%= yield %>
    </div>

    <%= partial "partials/layouts/page_footer" %>

    <%= partial "partials/google_analytics" %>
    <%= javascript_include_tag "site.bundle" %>
  </body>
</html>
