---
title: Highridge|Available Lots
headline: <strong>Available</strong> Lots
subhead: Subhead about finding a perfect lot / amazing view / dream home location in Kalamalka Highlands.
bg: herollax2
---

<div class="container">
  <div class="intro-section">
    <div class="section-left">
      <h2>Oversized lots with <br>inspiring views</h2>
      <p><%= lorem.sentences 4 %></p>
      <p><%= lorem.sentences 4 %></p>
      <p class="call">
        Call us at <%= link_to '1-250-558-3339', 'tel:1-250-558-3339' %> for an info package and on-site consulation.
      </p>
      <p class="download">
        Download <br><%= link_to 'subplan', '#' %>
      </p>
      <p class="mla-link">
        <btn class="btn primary"><%= link_to 'View our complete lot listing', 'http://www.3pr.ca/agent/588/mark-wensley' %></btn>
      </p>
    </div>
    <div class="testimonial-right">
      <p><%= lorem.sentences 3 %></p>
    </div>
  </div>

<h1> Insert Google Map with available lots here </h1>

  <div class="testimonial-left">
    <p><%= lorem.sentences 4 %></p>
  </div>
  <div class="get-in-touch">
    <h2>Get in touch</h2>
    <p><%= lorem.sentences 1 %></p>
    <p><strong>Give us a call at</strong> <%= link_to '1-250-558-3339', 'tel:1-250-558-3339' %></p>
  </div>
</div>
<div class="clearfix"></div>
