---
title: Highridge|Contact Highridge
headline: <strong>Contact</strong> Highridge
subhead: Call us today to view one of our unique show homes, and see how easy it can be to make your dream house come true!
bg: herollax6
---

<div class="container">
  <div class="contact-title">
    <h2>Don't be a stranger</h2>
  </div>
  <div class="section-left">
    <p>Have a question about available lots, pricing or timelines? Send us an email and we are happy to answer any questions you may have!</p>


    <form id="ajax-contact contact" method="post"
        action="https://static-files.canaryprint.ca/highridgehomes.ca/mailer.php">

      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="message">Your Message</label>
        <textarea id="message" name="message" rows="8" required ></textarea>
      </div>
      <button type="submit" class="btn-primary">Send Message</button>
    </form>
    <div id="form-messages"></div>

  </div>
  <div class="contact-right">
    <p>
      <strong>Highridge homes</strong>
      <br><%= link_to '4201 27 st, Vernon, BC, V1T 4Y3', 'https://www.google.ca/maps/place/Highridge+Homes+Ltd/@50.27383,-119.2689725,16z/data=!4m5!3m4!1s0x0:0x87ced25ec2413ffd!8m2!3d50.2737409!4d-119.2665907' %>
      <br>
      <br><%= link_to '1-250-558-3339', 'tel:+1-250-558-3339' %>
      <h4>Send us an <%= link_to 'email', 'mailto:info@highridgehomes.ca' %></h4>
    </p>
  </div>
</div><!-- Because we're going full screen now, we close the container div so we can spill out -->
<div class="clearfix"></div>
<div class="location">
  <!--Insert pin point Google Map here -->
  <%= partial "partials/google_map" %>
</div>

<%= partial "partials/layouts/cta_see" %>
