---
layout: home
title: Highridge Home
headline: <strong>Beyond</strong> your expectations
subtitle: We build some of the best homes in the North Okanagan. <a href="#">Learn More</a>.
bg: herollax2
---

<div class="container">

  <div class="intro-section">
    <div class="intro">
      <h2>#1 builder in the North Okanagan</h2>
      <p><%= lorem.sentences 4 %></p>
    </div>
    <div class="intro-cta">
      <p>Find out how <br><%= link_to 'we do it.', '#' %></p>
    </div>
  </div>
</div>

<div class="cta-section">
  <div class="container">
    <div class="cta-content">
      <h2>Custom Homes</h2>
      <p><%= lorem.sentences 4 %></p>
      <div class="custom-home-button">
        <h4><%= link_to 'View our homes', '#' %></h4>
      </div>
    </div>
    <div class="cta-cards">
      <div class="cta-card1">
        <%= partial "partials/custom_home_card", locals: {
          href: "/house1",
          image: "images/home-cards/card1.jpg",
          availability: "Available for viewing",
          title: "Spectacular Coldstream Rancher",
          address: "1 Braeburn Place, Coldstream, BC",
          excerpt: "Luxurious rancher located on large lot on quiet and private Coldstream cul-de-sac."
        } %>
      </div>
      <div class="cta-card2">
        <%= partial "partials/custom_home_card", locals: {
          href: "thing thing",
          image: "images/home-cards/card1.jpg",
          availability: "Available for viewing",
          title: "Spectacular Coldstream Rancher",
          address: "2 Braeburn Place, Coldstream, BC",
          excerpt: "Luxurious rancher located on large lot on quiet and private Coldstream cul-de-sac."
        } %>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="testimonial-left">
    <p>After a bad experience years ago with another builder we were a little nervous going into the build - but Highridge was on site every day and carefully walked us through each stage and decision.</p>
  </div>
  <div class="contact-cta">
    <h2>Get in touch</h2>
    <p><%= lorem.sentences 2 %></p>
    <p class="call-us">
      Give us a call at <%= link_to '1-250-558-3339', 'tel:+1-250-558-3339' %>
    </p>
  </div>
</div>
