---
title: Highridge|The Process
headline: <strong>The</strong> Process
subhead: We are dedicated to providing the highest standard of quality workmanship and service in the industry.
bg: herollax3
---

<div class="container">
  <div class="process-sec1">
    <div class="section-left">
      <h1>Build your dream home</h1>
      <p>Our mandate is to provide a superior product at a great price, with personalized service every step of the way. In order to accomplish this, we walk you through our existing homes so that you can really see and experience the quality. We are always welcoming to new ideas, and continue to be committed to a quality product. That’s why we have secured our own draftsman, designer, and service team to ensure the very best for you. Our valued suppliers and tradespeople share in our high standards, and they continually impress us with their innovation, motivation and devotion to their respective crafts. As a team, we work together to create a home that you will be more than proud of.
      </p>
      <strong>Call us at <%= link_to '1-250-558-3339', 'tel:1-250-558-3339' %> for an info package and on-site consultation.</strong>
    </div>
    <div class="testimonial-right">
      <p>We were beyond pleased by the service, pricing and quality workmanship provided by HighRidge Homes. With the wide variety of people involved in the development of our dream, it demonstrated their strive for excellence every step of the way.</p>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="process-video">
    <iframe src="https://player.vimeo.com/video/119413042?byline=0&portrait=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div class="process-sec2">
    <div class="sec2-a">
      <h2>In House Design</h2>
      <p>We include extensive interior design consulting, in partnership with Crystal Sturgeon of <%= link_to 'CK Design', 'https://www.ckdesignhome.com/' %>. Her timeless style lends classic beauty to every room of the house.</p>

      <h2>In House Drafting</h2>
      <p>Our talented draftsman Mike Petersen works his magic into each set of blueprints, ensuring that every detail you’ve been dreaming of is incorporated.</p>

      <h2>In House After-Sales Service</h2>
      <p>When you’re happy, we’re happy. Our reputation of quality and excellence precedes us, so you can be rest assured that we will always stand behind our builds. We're the only company that has free after-sales service for <%= link_to 'X AMOUNT OF YEARS', '#' %>, a unique benefit to Highridge Homes.
      </p>
    </div>

    <div class="sec2-b">
      <div class="warins warranty">
        <% link_to '#' do %>
          <%= image_tag '2-5-10.png' %>
        <% end %>
        <p>HighRidge Homes is proud to be part of the 2-5-10 program through BC Housing, which gives you (at minimum) coverage for: 2 years on labour and materials, 5 years on the building envelope, including water penetration, and 10 years on the structure of the home.
        </p>
      </div>

      <div class="warins insurance">
        <% link_to '#' do %>
          <%= image_tag 'travelers.png' %>
        <% end %>
        <p>We are a Travelers Canada Approved Builder, so you can have security and peace of mind knowing you are covered by Canada’s industry leader.
        </p>
      </div>
    </div>

    <div class="sec2-c">
      <div class="section-left">
        <div class="process-video">
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/yCYJQljj9Mk" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="sec2-c-right">
        <h2>We use BuilderTrend!</h2>
        <p>Building your own custom home is an exciting experience! We know how important every decision you make is, and how essential it is that you can follow every aspect of the building process.</p>
        <p>That's why we offer secure, online access to your own webpage with all of the details of your new home. You will be able to track photos of the construction progres, view the schedule, and much more.</p>
        <strong>Log in to <%= link_to 'BuilderTrend', '/login' %></strong>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/layouts/cta_see" %>
