---
title: Highridge|The Process
headline: <strong>The</strong> Process
subhead: Subhead about how we do everything possible to make sure you love your new home.
bg: herollax2
---

<div class="container">
  <div class="process-content">
    <div class="section-left">
      <h1>Build your dream home</h1>
        <p><%= lorem.sentences 5 %></p>
        <strong>Call us at <%= link_to '1-250-558-3339', 'tel:1-250-558-3339' %> for an info package and on-site consultation.</strong>
    </div>
    <div class="testimonial-right">
      <p><%= lorem.sentences 2 %></p>
    </div> 
  </div>
</div>
  
<div class="clearfix"></div>
  
<div class="container">
  <%= partial "partials/process_video" %>
</div>
    
  
<div class="container">
  <div class="process-content">
  <div class="in-house">
    <%= partial "partials/in_house" %>
  </div>
  
  <div class="warranty">
    <%= partial "partials/warranty" %>
  </div>
  </div>

  <div class="process-content">
  <div class="section-left">
    <%= partial "partials/process_video2" %>
  </div>
<div class="process-right">
  <h2>Our process is second to none</h2>
    <p><%= lorem.sentences 6 %></p>
      <strong>Download more info on <%= link_to 'our process', '/' %></strong>
    </div>
    </div>
</div>

<div class="clearfix"></div>

<%= partial "partials/layouts/cta_see" %>
